/*Definimos el diseño de las clases planteadas dentro de la clase CustomScrollProgessBar*/

.progress-bar-container {
    transition: opacity 0.3s ease;
  }
  
  .progress-bar-container.hidden {
    opacity: 0.2;
    pointer-events: none;
  }
  
  .progress-bar-container.visible {
    opacity: 0.95;
  }