/*Definimos el diseño de las clases planteadas dentro de la clase CustomCarousel*/

.carousel-image-container {
    overflow: hidden;
    opacity: 95%;
  }
  
  .carousel-image-container img {
    height: 60vh;
    object-fit: cover;
  }
  
  .carousel-caption {
    color: black;
    text-shadow: none;
  }
  
  .carousel-caption h5 {
    color: black;
    font-size: 24px;
  }
  
  .carousel-caption p {
    color: black;
    font-size: 16px;
  }