---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';

---

<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
  </head>
  <body class="bg-gray-50">
    <Navbar />
    <main class="pt-16">
      <About />
      <Projects />
      <Skills />
    </main>
    <Footer />
  </body>
</html>
