---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';
import {Button} from '@nextui-org/react';
import Carousel from '../components/Carousel.astro';

---

<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
  </head>
  <body class="bg-gray-50">
    <Navbar />
    <main class="pt-16">
      <Layout title="Welcome to Astro.">
        <main>
            <Button color="primary" client:visible>My button</Button>
        </main>
      </Layout>
      <Carousel />
    </main>
    <Footer />
  </body>
</html>
