---
import ImageGallery from '../react/ImageGallery.jsx';

const images = [
  'https://nextui-docs-v2.vercel.app/images/fruit-1.jpeg',
  'https://nextui-docs-v2.vercel.app/images/fruit-2.jpeg',
  'https://nextui-docs-v2.vercel.app/images/fruit-3.jpeg'
];
---

<section id="carousel" class="py-20 bg-gray-50">
  <div class="container mx-auto px-4">
    <ImageGallery images={images} />
  </div>
</section>
