/*Estilos del Core*/

.App {
  text-align: center;
  background-color: #f2f2f2;
}

.custom-body {
  background: #eee;
  padding-bottom: 85px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  pointer-events: none;
}

.margin-top-bot{
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-top-bot{
  margin-left: 20px;
  margin-right: 20px;
}

.width-full{
  width: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
  flex-direction: column;
}

.row{
  flex-direction:row;
}
